div, span {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif
}

.upper {
    text-transform: uppercase;
}

.indent {
    text-indent: 40px;
}

img {
    display: block;
}

.block {
    margin-bottom: 15px;
}
