<form [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="a" type="text" placeholder="A">
        <mat-error *ngIf="form.get('a').errors">{{ form.get('a').errors[getKeys(form.get('a').errors)[0]] }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="b" type="text" placeholder="B">
        <mat-error *ngIf="form.get('b').errors">{{ form.get('b').errors[getKeys(form.get('b').errors)[0]] }}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="c" type="text" placeholder="C">
        <mat-error *ngIf="form.get('c').errors">{{ form.get('c').errors[getKeys(form.get('c').errors)[0]] }}</mat-error>
    </mat-form-field>
    <label *ngIf="triangleModel">{{triangleModel.type}}</label>
</form>
<canvas id="canvas" #canvas>

</canvas>