form {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 70px;
    margin: 0 auto;

    label {
        display: block;
    }
}

#canvas {
    margin-left: 10%;
    margin-bottom: 40px;
    display: block;
    border: 1px black solid;
}
