<mat-toolbar color="primary" class="header-row" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxLayout="row" class="header-row">
        <div>TVOP</div>
        <a routerLink="lab1" mat-button color="secondary">Lab 1</a>
        <a routerLink="lab2" mat-button color="secondary">Lab 2</a>
        <a routerLink="lab3" mat-button color="secondary">Lab 3</a>
    </div>
    <lab-error-display *ngIf="display" [(ngModel)]="display" (click)="updateDisplay()"></lab-error-display>
</mat-toolbar>
<router-outlet></router-outlet>