<div style="padding: 0 24px">
    <h3 class="title" fxLayout="row" fxLayoutAlign="space-between start">
        <span>
            <span *ngIf="titleIndex">{{titleIndex}}. </span>
            <span>{{error.title}}</span>
            <button mat-button mat-raised-button color="primary" (click)="goToReport(header, error, titleIndex)">Report</button>
        </span>
        <lab-error-display [(ngModel)]="display"></lab-error-display>
    </h3>
    <mat-card-content>
        <p class="description" *ngIf="display.description">
            <span *ngIf="typeof(error.description)==='string'; else descriptionArrTemplate">{{error.description}}</span>
            <ng-template #descriptionArrTemplate>
                <span style="display: block" *ngFor="let descriptionItem of error.description; let i = index">
                    {{i}}. {{descriptionItem}}
                </span>
            </ng-template>
        </p>
        <p class="images" *ngIf="display.images">
            <img *ngFor="let img of error.images" [src]="img"/>
        </p>
        <h4 *ngIf="display.steps && error.steps.length > 0">Воспроизведение ошибки</h4>
        <p class="steps" *ngIf="display.steps">
            <span style="display: block" *ngFor="let step of error.steps; let i = index">
                Шаг {{i + 1}}. {{step}}
            </span>
        </p>
    </mat-card-content>
</div>